*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f8;
}

.main-content{
    margin-left: 250px;
}

.topbar{
    margin-bottom: 20px;
    padding: 15px 0px;
}

.btn-add{
    background: #10b981;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    text-align: none;
    text-decoration: none;
}

.btn-add:hover {
  background: #0d9a6e;
}   

.events-section {
  padding: 20px 30px;
}

.search-box {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}

.search-box input {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.search-box button {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
}

.table-container {
  background: white;
  padding: 15px;
  border-radius: 8px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #e2e8f0;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.btn-edit {
  background: #f59e0b;
  color: white;
  padding: 6px;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 8px;
}

.btn-edit i{
    text-align: center;
    font-size: 20px;
}

.btn-delete {
  background: #ef4444;
  color: white;
  padding: 6px 8px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-delete i{
    text-align: center;
    font-size: 20px;
}

.btn-edit:hover {
  background: #d97706;
}

.btn-delete:hover {
  background: #dc2626;
}

.pagination{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
  flex-wrap: wrap;
}

.page-link{
  padding: 8px 14px;
  background: #e2e8f0;
  border-radius: 6px;
  text-decoration: none;
  color: #1e293b;
  font-weight: 500;
  transition: 0.2s;
}

.page-link:hover {
  background: #cbd5e1;
}

.page-link.active {
  background: #3b82f6;
  color: white;
}

.page-link.disabled {
  background: #f1f5f9;
  color: #94a3b8;
  pointer-events: none;
}

@media (max-width: 768px) {
  .admin-header {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  
  .search-box {
    flex-direction: column;
  }
}