body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

.profile-container {
  background: #fff;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

.profile-container h2{
    text-align: center;
    color: #2f36f6;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

button,
.logout-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-btn {
  background: #163dff;
  color: white;
}

#saveBtn {
    background: #4dd258;
}

.cancel-btn {
  background: #f44336;
  color: white;
}
