body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
    max-width: 400px;
}

.login-container h1{
    font-size: 30px;
    justify-self: center;
    color: #002aff;
    padding: 4px;
}

.field-box{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.field-box label{
    font-size: 16px;
    padding: 8px 5px;
    color: #363130;
}

.field-box input{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

.login-container button{
    background-color: #0057b7;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
}

.login-container a{
    justify-self: center;
    font-size: 15px;
    text-decoration: none;
    padding-left: 8px;
}